<h1>Pirate Name: </h1>
<p>
  <%=@pirate.name%>
</p>
<p>
  <%=@pirate.weight%>
</p>
<p>
  <%=@pirate.height%>
</p>

<h2>Ship 1 Details</h2>
<p>
  <%=@ship1.name%>
</p>
<p>
  <%=@ship1.type%>
</p>
<p>
  <%=@ship1.booty%>
</p>

<h2>Ship 2 Details</h2>
<p>
  <%=@ship2.name%>
</p>
<p>
  <%=@ship2.type%>
</p>
<p>
  <%=@ship2.booty%>
</p>
